@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Lobster&family=Nosifer&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Butcherman&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Lobster&family=Nosifer&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Butcherman&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Grenze+Gotisch:wght@100..900&family=Lobster&family=Nosifer&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  width: 1440px;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
  /* background-color: transparent; */
}


/* Responsive adjustments */
@media (max-width: 1024px) {

  /* Tablet screens */
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

@media (max-width: 768px) {

  /* Mobile screens */
  .container {
    width: 100%;
    padding: 0 8px;
  }
}



h2{
  font-size: 40px;
}

Button{
  padding: 10px;
  border-radius: 50px !important;
  border: 5px solid grey !important;
  /* color: black !important; */
  color: white !important;
  font-weight: 650 !important;
}

Button:hover{
  background-image: linear-gradient(to top, #e53e3e 0%, #edbdbd 100%);
}

.mui_icon{
  background-color: #4AC63F;
  border-radius: 50%;
  color: white;
  font-size: 30px !important;
}


